$primaryColor: rgb(46, 164, 255);

.container {
  max-height: 67vh;
  overflow-y: auto;
  gap: 50px;

  .book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 20px 1px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;

    li {
      list-style-type: none;
    }
  }
}
