@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,600&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$primaryColor: rgb(2,144,255);
$noneActive: #000;

header {
  display: flex;
  justify-content: space-between;
  height: 6.538rem;
  align-items: center;
  padding: 5px 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      gap: 50px;
      list-style-type: none;
      align-items: center;

      li {
        color: $primaryColor;
        font-size: 22px;

        .title {
          width: 17rem;
          height: 2.313rem;
          font-family: 'Montserrat', sans-serif;
          font-size: 34px;
          font-weight: bolder;
          color: rgb(2,144,255);
        }

        a {
          text-decoration: none;
        }

        .book {
          color: $noneActive;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          height: 1rem;
          letter-spacing: 1.9px;
        }

        .cat {
          color: $noneActive;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: rgb(179, 178, 178);
          letter-spacing: 1.9px;
        }
      }
    }
  }
  .Oval {
    width: 2.813rem;
    height: 2.813rem;
    padding: 0.875rem;
    border: solid 1px rgb(218, 220, 222);
    border-radius: 50%;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
