@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;1,600&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$background: #fff;
$generalbg: rgb(250, 250, 250);
$Font: 20px;
$height: 30px;
$primary: rgb(46, 164, 255);
$padding: 5px 10px;
$shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.newbook {
  margin: 100px 50px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(174, 171, 171);
  }

  .form-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .add-book {
      width: 400px;
      border: none;
      padding: 15px;
      border-radius: 5px;
      font-size: 18px;
      box-shadow: $shadow;
    }

    .author {
      width: 250px;
      font-size: 18px;
      border: none;
      padding: 15px;
      border-radius: 5px;
      box-shadow: $shadow;
    }

    .categories {
      width: 200px;
      font-size: 18px;
      border: none;
      padding: 15px;
      border-radius: 5px;
      box-shadow: $shadow;
    }

    .btn {
      width: 200px;
      font-size: 18px;
      background: $primary;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }

  .message {
    color: red;
  }
}
